* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #f8e9dd;
  font-size: 18px;
  font-weight: 400;
  display: -ms-grid;
  display: grid;
  place-items: place-center;
  padding-top: 182px;
}

.bold {
  font-weight: 700;
  color: #382314;
}

.card_container {
  max-width: 540px;
  width: 90%;
  margin: 20px auto;
}

.card_container .top_card {
  width: 100%;
  height: 125px;
  padding: 30px;
  padding-right: 40px;
  background-color: #ec775f;
  border-radius: 20px;
  color: #f8e9dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_container .top_card .top_bar_left #balance {
  color: #f8e9dd;
  font-size: 1.8em;
  margin-top: 10px;
}

.card_container .bottom_card {
  width: 100%;
  height: 510px;
  margin: 25px 0;
  padding: 25px 40px;
  background-color: #fffaf5;
  color: #93867b;
  border-radius: 20px;
}

.card_container .bottom_card header {
  font-size: 1.8em;
  margin-bottom: 65px;
}

.card_container .bottom_card .bars_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_container .bottom_card .bars_container .bar_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  position: relative;
}

.card_container .bottom_card .bars_container .bar_div .bar {
  width: 50px;
  background-color: #ec775f;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card_container .bottom_card .bars_container .bar_div .bar:hover {
  opacity: .8;
}

.card_container .bottom_card .bars_container .bar_div .bar:hover ~ .amount {
  display: -ms-grid;
  display: grid;
}

.card_container .bottom_card .bars_container .bar_div .amount {
  position: absolute;
  top: 0;
  background-color: #382314;
  color: #f8e9dd;
  width: 75px;
  height: 40px;
  display: none;
  place-items: center;
  border-radius: 5px;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.card_container .bottom_card .line {
  width: 100%;
  height: 1px;
  margin: 35px 0;
  background-color: #f8e9dd;
}

.card_container .bottom_card .overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_container .bottom_card .overview .overview_right {
  text-align: right;
}

#bar_0 {
  height: 50px;
}

#bar_1 {
  height: 100px;
}

#bar_2 {
  height: 150px;
  background-color: #76b5bc;
}

#bar_3 {
  height: 90px;
}

#bar_4 {
  height: 67px;
}

#bar_5 {
  height: 125px;
}

#bar_6 {
  height: 75px;
}

#total_spent {
  font-size: 2.7em;
  line-height: 1em;
  margin-top: 15px;
}

@media screen and (max-width: 520px) {
  .card_container .top_card {
    height: 100px;
    padding: 20px;
    border-radius: 8px;
  }
  .card_container .top_card .top_bar_left #balance {
    font-size: 1.3em;
    margin-top: 5px;
  }
  .card_container .bottom_card {
    height: 450px;
    margin: 15px 0;
    padding: 30px;
    border-radius: 8px;
  }
  .card_container .bottom_card header {
    font-size: 1.4em;
    margin-bottom: 60px;
  }
  .card_container .bottom_card .bars_container .bar_div {
    gap: 12px;
  }
  .card_container .bottom_card .bars_container .bar_div .bar {
    width: 33px;
    border-radius: 3px;
  }
  .card_container .bottom_card .bars_container .bar_div .amount {
    width: 65px;
    height: 30px;
    border-radius: 5px;
    font-size: 0.9em;
  }
  .card_container .bottom_card .line {
    margin: 30px 0 25px 0;
  }
  .card_container .bottom_card .overview .overview_right {
    text-align: right;
  }
  #total_spent {
    font-size: 1.7em;
    line-height: 1em;
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */